<div><%= f.label :level %><br>
<%= f.number_field :level %>&nbsp;
<%= error_message_on :level, :level, :class => 'fullwidth title' %></div>

<div><%= f.label :minimal_price %><br>
<%= f.text_field :minimal_price %>&nbsp;
<%= error_message_on :level, :minimal_price, :class => 'fullwidth title' %></div>
